<div class="row">
  <div class = 'col-6'>
<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>Nombre</th>
      <th>Distribudor</th>
      <th>Temporadas</th>
    </tr>
  </thead>
  <tbody id="series">
    <tr *ngFor="let serie of series">
      <td>{{serie.id}}</td>
      <td>{{serie.name}}</td>
      <td>{{serie.channel}}</td>
      <td>{{serie.seasons}}</td>
    </tr>
    <tr>
      <td colspan = "1">
      <td colspan="3">{{"Seasons average: " + getAverageSeasons() }}</td>
    </tr>
  </tbody>
</table>
  </div>
</div>

